@page
@model MyApp.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Movie List</h1>
<hr />

<a class="btn btn-outline-primary" asp-page="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.MovieList)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Name</td>
                <td>@movie.Year</td>
            </tr>
        }

    </tbody>
</table>

